# Byte-compiled / optimized / DLL files
__pycache__
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
env/
build/
dist/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache
*.cover
.pytest_cache/

# PyCharm specific and IDE related files
.idea/
*.iml

# Jupyter Notebook
.ipynb_checkpoints

# Environment files
.env
.env.*

# virtualenv
.venv
venv/
ENV/
env.bak/
venv.bak/

# Python byte-compiled files
*.pyc

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Logs
*.log